openapi: 3.0.1
info:
  title: EzzyRest API
  version: 1.0.0
servers:
  - url: https://app.ezzydoc.com/EzzyService.svc/Rest/
    description: Production Server
paths:
  /activateWorkflow:
    get:
      summary: "activateWorkflow"
      operationId: "activateWorkflow"
      tags:
        - EzzyRest
      security:
        - BearerAuth: []
      parameters:
        - name: workflowid
          in: query
          required: true
          schema:
            type: integer
        - name: type
          in: query
          required: true
          schema:
            type: integer
            enum:
              - 0
              - 1
              - 2
              - 3
              - 4
              - 5
            x-enumNames:
              - standard
              - supplier_portal
              - approval_level1
              - approval_level2
              - application
              - camera_review
      responses:
        '200':
          description: Success
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/Servicestatus'
            application/json:
              schema:
                $ref: '#/components/schemas/Servicestatus'
            text/json:
              schema:
                $ref: '#/components/schemas/Servicestatus'
        '400':
          description: Bad Request
        '500':
          description: Internal Server Error

  /addAccountCodes:
    get:
      summary: "addAccountCodes"
      operationId: "addAccountCodes"
      tags:
        - EzzyRest
      security:
        - BearerAuth: []
      parameters:
        - name: target
          in: query
          required: true
          schema:
            type: integer
            enum:
              - 0
              - 1
              - 2
              - 3
              - 4
              - 5
              - 6
              - 7
              - 8
              - 9
              - 10
              - 11
              - 12
              - 20
              - 21
              - 22
              - 23
              - 24
              - 26
              - 27
              - 33
              - 34
              - 35
              - 36
              - 37
              - 38
              - 39
              - 40
              - 41
              - 42
              - 43
              - 44
              - 45
              - 46
              - 47
              - 48
              - 49
              - 4001
              - -1
            x-enumNames:
              - HANDL
              - XERO
              - MYOB
              - SAASU
              - FTP
              - EMAIL
              - GATEWAY
              - NETSUITE
              - PALACE
              - QUICKBOOKS
              - CUSTOM_WORKFLOW
              - ACUREST
              - EZZYX
              - PLANTRACKER
              - PICA
              - EINVOICE
              - FERGUS
              - AIRTABLE_MYOB
              - ASCORA
              - SIMPRO
              - TIDYSTOCK
              - DEAR
              - SCORO
              - SAVE_AND_SEARCH
              - TRIUMPH
              - WORKGURU
              - WORKFLOWMAXBLUEROCK
              - GOOGLE_DRIVE
              - GMAIL
              - AIRTABLE
              - ONEDRIVE
              - O365
              - DROPBOX
              - STYCK
              - SERVICETITAN
              - PROCORE
              - SHAREPOINT
              - STORAGE_DEVICE
              - UNKNOWN
      responses:
        '200':
          description: Success
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/Servicestatus'
            application/json:
              schema:
                $ref: '#/components/schemas/Servicestatus'
            text/json:
              schema:
                $ref: '#/components/schemas/Servicestatus'
        '400':
          description: Bad Request
        '500':
          description: Internal Server Error

  /addAllContacts:
    post:
      summary: "addAllContacts"
      operationId: "addAllContacts"
      tags:
        - EzzyRest
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/ContactDetails'
          text/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/ContactDetails'
          application/*+json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/ContactDetails'
      responses:
        '200':
          description: Success
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/Servicestatus'
            application/json:
              schema:
                $ref: '#/components/schemas/Servicestatus'
            text/json:
              schema:
                $ref: '#/components/schemas/Servicestatus'
        '400':
          description: Bad Request
        '500':
          description: Internal Server Error

  /addAllTracking:
    get:
      summary: "addAllTracking"
      operationId: "addAllTracking"
      tags:
        - EzzyRest
      security:
        - BearerAuth: []
      parameters:
        - name: target
          in: query
          required: true
          schema:
            type: integer
            enum:
              - 0
              - 1
              - 2
              - 3
              - 4
              - 5
              - 6
              - 7
              - 8
              - 9
              - 10
              - 11
              - 12
              - 20
              - 21
              - 22
              - 23
              - 24
              - 26
              - 27
              - 33
              - 34
              - 35
              - 36
              - 37
              - 38
              - 39
              - 40
              - 41
              - 42
              - 43
              - 44
              - 45
              - 46
              - 47
              - 48
              - 49
              - 4001
              - -1
            x-enumNames:
              - HANDL
              - XERO
              - MYOB
              - SAASU
              - FTP
              - EMAIL
              - GATEWAY
              - NETSUITE
              - PALACE
              - QUICKBOOKS
              - CUSTOM_WORKFLOW
              - ACUREST
              - EZZYX
              - PLANTRACKER
              - PICA
              - EINVOICE
              - FERGUS
              - AIRTABLE_MYOB
              - ASCORA
              - SIMPRO
              - TIDYSTOCK
              - DEAR
              - SCORO
              - SAVE_AND_SEARCH
              - TRIUMPH
              - WORKGURU
              - WORKFLOWMAXBLUEROCK
              - GOOGLE_DRIVE
              - GMAIL
              - AIRTABLE
              - ONEDRIVE
              - O365
              - DROPBOX
              - STYCK
              - SERVICETITAN
              - PROCORE
              - SHAREPOINT
              - STORAGE_DEVICE
              - UNKNOWN
      responses:
        '200':
          description: Success
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/Servicestatus'
            application/json:
              schema:
                $ref: '#/components/schemas/Servicestatus'
            text/json:
              schema:
                $ref: '#/components/schemas/Servicestatus'
        '400':
          description: Bad Request
        '500':
          description: Internal Server Error

  /addAttachedDocument:
    get:
      summary: "addAttachedDocument"
      operationId: "addAttachedDocument"
      tags:
        - EzzyRest
      security:
        - BearerAuth: []
      parameters:
        - name: invoice_id
          in: query
          required: true
          schema:
            type: integer
        - name: attachment_id
          in: query
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: Success
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/Servicestatus'
            application/json:
              schema:
                $ref: '#/components/schemas/Servicestatus'
            text/json:
              schema:
                $ref: '#/components/schemas/Servicestatus'
        '400':
          description: Bad Request
        '500':
          description: Internal Server Error

  /addContacts:
    post:
      summary: "addContacts"
      operationId: "addContacts"
      tags:
        - EzzyRest
      security:
        - BearerAuth: []
      parameters:
        - name: target
          in: query
          required: true
          schema:
            type: integer
            enum:
              - 0
              - 1
              - 2
              - 3
              - 4
              - 5
              - 6
              - 7
              - 8
              - 9
              - 10
              - 11
              - 12
              - 20
              - 21
              - 22
              - 23
              - 24
              - 26
              - 27
              - 33
              - 34
              - 35
              - 36
              - 37
              - 38
              - 39
              - 40
              - 41
              - 42
              - 43
              - 44
              - 45
              - 46
              - 47
              - 48
              - 49
              - 4001
              - -1
            x-enumNames:
              - HANDL
              - XERO
              - MYOB
              - SAASU
              - FTP
              - EMAIL
              - GATEWAY
              - NETSUITE
              - PALACE
              - QUICKBOOKS
              - CUSTOM_WORKFLOW
              - ACUREST
              - EZZYX
              - PLANTRACKER
              - PICA
              - EINVOICE
              - FERGUS
              - AIRTABLE_MYOB
              - ASCORA
              - SIMPRO
              - TIDYSTOCK
              - DEAR
              - SCORO
              - SAVE_AND_SEARCH
              - TRIUMPH
              - WORKGURU
              - WORKFLOWMAXBLUEROCK
              - GOOGLE_DRIVE
              - GMAIL
              - AIRTABLE
              - ONEDRIVE
              - O365
              - DROPBOX
              - STYCK
              - SERVICETITAN
              - PROCORE
              - SHAREPOINT
              - STORAGE_DEVICE
              - UNKNOWN
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/ContactDetails'
          text/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/ContactDetails'
          application/*+json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/ContactDetails'
      responses:
        '200':
          description: Success
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/Servicestatus'
            application/json:
              schema:
                $ref: '#/components/schemas/Servicestatus'
            text/json:
              schema:
                $ref: '#/components/schemas/Servicestatus'
        '400':
          description: Bad Request
        '500':
          description: Internal Server Error

  /addExternalTask:
    get:
      summary: "addExternalTask"
      operationId: "addExternalTask"
      tags:
        - EzzyRest
      security:
        - BearerAuth: []
      parameters:
        - name: name
          in: query
          required: true
          schema:
            type: string
        - name: description
          in: query
          required: true
          schema:
            type: string
        - name: webhook
          in: query
          required: true
          schema:
            type: string
        - name: settings
          in: query
          required: true
          schema:
            type: string
        - name: id
          in: query
          required: true
          schema:
            type: integer
        - name: example
          in: query
          required: true
          schema:
            type: string
        - name: comment
          in: query
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Success
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/Servicestatus'
            application/json:
              schema:
                $ref: '#/components/schemas/Servicestatus'
            text/json:
              schema:
                $ref: '#/components/schemas/Servicestatus'
        '400':
          description: Bad Request
        '500':
          description: Internal Server Error

  /AddGroupToEnterprise:
    get:
      summary: "AddGroupToEnterprise"
      operationId: "AddGroupToEnterprise"
      tags:
        - EzzyRest
      security:
        - BearerAuth: []
      parameters:
        - name: user
          in: query
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Success
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/Servicestatus'
            application/json:
              schema:
                $ref: '#/components/schemas/Servicestatus'
            text/json:
              schema:
                $ref: '#/components/schemas/Servicestatus'
        '400':
          description: Bad Request
        '500':
          description: Internal Server Error

  /addInvoicePayment:
    post:
      summary: "addInvoicePayment"
      operationId: "addInvoicePayment"
      tags:
        - EzzyRest
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/InvoicePayment'
          text/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/InvoicePayment'
          application/*+json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/InvoicePayment'
      responses:
        '200':
          description: Success
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/Servicestatus'
            application/json:
              schema:
                $ref: '#/components/schemas/Servicestatus'
            text/json:
              schema:
                $ref: '#/components/schemas/Servicestatus'
        '400':
          description: Bad Request
        '500':
          description: Internal Server Error

  /addLearning:
    get:
      summary: "addLearning"
      operationId: "addLearning"
      tags:
        - EzzyRest
      security:
        - BearerAuth: []
      parameters:
        - name: invoiceid
          in: query
          required: true
          schema:
            type: integer
        - name: field
          in: query
          required: true
          schema:
            type: string
        - name: newvalue
          in: query
          required: true
          schema:
            type: string
        - name: hint
          in: query
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Success
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/Servicestatus'
            application/json:
              schema:
                $ref: '#/components/schemas/Servicestatus'
            text/json:
              schema:
                $ref: '#/components/schemas/Servicestatus'
        '400':
          description: Bad Request
        '500':
          description: Internal Server Error

  /addLearningCorrection:
    get:
      summary: "addLearningCorrection"
      operationId: "addLearningCorrection"
      tags:
        - EzzyRest
      security:
        - BearerAuth: []
      parameters:
        - name: invoiceid
          in: query
          required: true
          schema:
            type: integer
        - name: field
          in: query
          required: true
          schema:
            type: string
        - name: newvalue
          in: query
          required: true
          schema:
            type: string
        - name: hint
          in: query
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Success
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/Servicestatus'
            application/json:
              schema:
                $ref: '#/components/schemas/Servicestatus'
            text/json:
              schema:
                $ref: '#/components/schemas/Servicestatus'
        '400':
          description: Bad Request
        '500':
          description: Internal Server Error

  /addLearningRule:
    post:
      summary: "addLearningRule"
      operationId: "addLearningRule"
      tags:
        - EzzyRest
      security:
        - BearerAuth: []
      parameters:
        - name: invoiceid
          in: query
          required: true
          schema:
            type: integer
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LearningRule'
          text/json:
            schema:
              $ref: '#/components/schemas/LearningRule'
          application/*+json:
            schema:
              $ref: '#/components/schemas/LearningRule'
      responses:
        '200':
          description: Success
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/Servicestatus'
            application/json:
              schema:
                $ref: '#/components/schemas/Servicestatus'
            text/json:
              schema:
                $ref: '#/components/schemas/Servicestatus'
        '400':
          description: Bad Request
        '500':
          description: Internal Server Error

  /addLicense:
    get:
      summary: "addLicense"
      operationId: "addLicense"
      tags:
        - EzzyRest
      security:
        - BearerAuth: []
      parameters:
        - name: name
          in: query
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Success
          content:
            text/plain:
              schema:
                type: string
            application/json:
              schema:
                type: string
            text/json:
              schema:
                type: string
        '400':
          description: Bad Request
        '500':
          description: Internal Server Error

  /addPurchaseOrders:
    post:
      summary: "addPurchaseOrders"
      operationId: "addPurchaseOrders"
      tags:
        - EzzyRest
      security:
        - BearerAuth: []
      parameters:
        - name: target
          in: query
          required: true
          schema:
            type: integer
            enum:
              - 0
              - 1
              - 2
              - 3
              - 4
              - 5
              - 6
              - 7
              - 8
              - 9
              - 10
              - 11
              - 12
              - 20
              - 21
              - 22
              - 23
              - 24
              - 26
              - 27
              - 33
              - 34
              - 35
              - 36
              - 37
              - 38
              - 39
              - 40
              - 41
              - 42
              - 43
              - 44
              - 45
              - 46
              - 47
              - 48
              - 49
              - 4001
              - -1
            x-enumNames:
              - HANDL
              - XERO
              - MYOB
              - SAASU
              - FTP
              - EMAIL
              - GATEWAY
              - NETSUITE
              - PALACE
              - QUICKBOOKS
              - CUSTOM_WORKFLOW
              - ACUREST
              - EZZYX
              - PLANTRACKER
              - PICA
              - EINVOICE
              - FERGUS
              - AIRTABLE_MYOB
              - ASCORA
              - SIMPRO
              - TIDYSTOCK
              - DEAR
              - SCORO
              - SAVE_AND_SEARCH
              - TRIUMPH
              - WORKGURU
              - WORKFLOWMAXBLUEROCK
              - GOOGLE_DRIVE
              - GMAIL
              - AIRTABLE
              - ONEDRIVE
              - O365
              - DROPBOX
              - STYCK
              - SERVICETITAN
              - PROCORE
              - SHAREPOINT
              - STORAGE_DEVICE
              - UNKNOWN
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/PODetails'
          text/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/PODetails'
          application/*+json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/PODetails'
      responses:
        '200':
          description: Success
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/Servicestatus'
            application/json:
              schema:
                $ref: '#/components/schemas/Servicestatus'
            text/json:
              schema:
                $ref: '#/components/schemas/Servicestatus'
        '400':
          description: Bad Request
        '500':
          description: Internal Server Error

  /addTenant:
    get:
      summary: "addTenant"
      operationId: "addTenant"
      tags:
        - EzzyRest
      security:
        - BearerAuth: []
      parameters:
        - name: tenant
          in: query
          required: true
          schema:
            type: string
        - name: target
          in: query
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: Success
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/Servicestatus'
            application/json:
              schema:
                $ref: '#/components/schemas/Servicestatus'
            text/json:
              schema:
                $ref: '#/components/schemas/Servicestatus'
        '400':
          description: Bad Request
        '500':
          description: Internal Server Error

  /AddUserToGroup:
    get:
      summary: "AddUserToGroup"
      operationId: "AddUserToGroup"
      tags:
        - EzzyRest
      security:
        - BearerAuth: []
      parameters:
        - name: group
          in: query
          required: true
          schema:
            type: string
        - name: user
          in: query
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Success
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/Servicestatus'
            application/json:
              schema:
                $ref: '#/components/schemas/Servicestatus'
            text/json:
              schema:
                $ref: '#/components/schemas/Servicestatus'
        '400':
          description: Bad Request
        '500':
          description: Internal Server Error

  /addWorkflowCSV:
    post:
      summary: "addWorkflowCSV"
      operationId: "addWorkflowCSV"
      tags:
        - EzzyRest
      security:
        - BearerAuth: []
      parameters:
        - name: state
          in: query
          required: true
          schema:
            type: integer
            enum:
              - 1
              - 2
              - 3
              - 4
              - 5
              - 6
              - 7
              - 8
              - 9
              - 10
              - 11
              - 12
              - 13
              - 14
              - 15
              - 16
              - 17
              - 18
              - 19
              - 20
              - 21
              - 22
              - 23
              - 24
              - 25
              - 26
              - 27
              - 30
              - 31
              - 99
              - 101
              - 102
              - 103
              - 104
              - 105
              - 106
              - 107
              - 108
              - 109
              - 110
              - 111
              - 112
              - 113
              - 114
              - 115
              - 116
              - 117
              - 118
              - 119
              - 120
              - 121
              - 122
              - 123
              - 124
              - 125
              - 126
              - 127
              - 128
              - 129
              - 130
              - 131
              - 132
              - 133
              - 134
              - 135
              - 136
              - 137
              - 138
              - 139
              - 140
              - 141
              - 142
              - 143
              - 144
              - 145
              - 146
              - 147
              - 148
              - 149
              - 150
              - 151
              - 152
              - 153
              - 154
              - 155
              - 156
              - 157
              - 158
              - 159
              - 160
              - 208
              - 209
              - 210
              - 211
              - 212
              - 213
              - 214
              - 215
              - 216
              - 217
              - 218
              - 219
              - 220
              - 221
              - 222
              - 223
              - 224
              - 225
              - 226
              - 227
              - 228
              - 229
              - 230
              - 231
              - 232
              - 233
              - 234
              - 235
              - 236
              - 237
              - 238
              - 239
              - 240
              - 241
              - 242
              - 243
              - 244
              - 245
              - 246
              - 247
              - 248
              - 249
              - 250
              - 251
              - 252
              - 253
              - 254
              - 255
              - 256
              - 257
              - 258
              - 259
              - 260
              - 261
              - 262
              - 263
              - 264
              - 265
              - 266
              - 267
              - 268
              - 269
              - 270
              - 271
              - 272
              - 273
              - 274
              - 275
              - 276
              - 277
              - 278
              - 279
              - 280
              - 281
              - 282
              - 283
              - 284
              - 285
              - 286
              - 287
              - 288
              - 289
              - 290
              - 291
              - 292
              - 293
              - 294
              - 295
              - 296
              - 297
              - 298
              - 299
              - 300
              - 301
              - 302
              - 303
              - 304
              - 305
              - 306
              - 307
              - 308
              - 309
              - 310
              - 311
              - 312
              - 313
              - 314
              - 315
              - 316
              - 317
              - 318
              - 319
              - 320
              - 321
              - 322
              - 323
              - 324
              - 325
              - 326
              - 327
              - 328
              - 329
              - 330
              - 331
              - 332
              - 333
              - 334
              - 335
              - 336
              - 337
              - 338
              - 339
              - 340
              - 341
              - 342
              - 343
              - 344
              - 345
              - 346
              - 347
              - 348
              - 349
              - 350
              - 351
              - 352
              - 353
              - 354
              - 355
              - 356
              - 357
              - 358
              - 359
              - 360
              - 369
              - 370
              - 371
              - 372
              - 373
              - 374
              - 375
              - 376
              - 377
              - 378
              - 379
              - 380
              - 381
              - 382
              - 383
              - 384
              - 385
              - 386
              - 387
              - 388
              - 389
              - 390
              - 391
              - 392
              - 393
              - 394
              - 395
              - 396
              - 397
              - 398
              - 399
              - 400
              - 401
              - 402
              - 403
              - 404
              - 405
              - 406
              - 407
              - 408
              - 409
              - 410
              - 411
              - 412
              - 413
              - 414
              - 415
              - 416
              - 417
              - 418
              - 419
              - 420
              - 421
              - 423
              - 424
              - 425
              - 426
              - 427
              - 428
              - 429
              - 430
              - 431
              - 432
              - 433
              - 434
              - 435
              - 436
              - 437
              - 438
              - 439
              - 440
              - 441
              - 442
              - 443
              - 444
              - 445
              - 446
              - 447
              - 448
              - 449
              - 450
              - 451
              - 452
              - 453
              - 454
              - 461
              - 462
              - 463
              - 464
              - 465
              - 466
              - 467
              - 468
              - 469
              - 470
              - 471
              - 472
              - 473
              - 474
              - 475
              - 476
              - 477
              - 478
              - 479
              - 480
              - 481
              - 482
              - 483
              - 484
              - 485
              - 486
              - 487
              - 488
              - 489
              - 490
              - -6
              - -5
              - -4
              - -3
              - -2
              - -1
            x-enumNames:
              - uploaded_invoice
              - ready
              - ready_for_ocr
              - ocr_in_progress
              - ready_for_human1
              - validating_for_human1
              - ready_for_ocr_human_validation1
              - header_validation_in_progress1
              - ready_for_human2
              - validating_for_human2
              - ready_for_ocr_human_validation2
              - header_validation_in_progress2
              - ready_for_header_line_items_validation
              - header_line_items_validation_in_progress
              - human1_line_items
              - validating_human1_line_items
              - ocr_human1_line_items_validation
              - ocr_human1_line_items_validation_progress
              - human2_line_items
              - validating_human2_line_items
              - human2_line_items_validation
              - human2_line_items_validation_progress
              - header_validation_success
              - header_validation_fail
              - header_validation_force_success
              - header_no_human_validation_success
              - header_no_human_validation_fail
              - reclassify_invoice
              - reclassification_in_progress
              - unkown
              - cleanup_in_progress
              - export_saasu
              - export_saasu_in_progress
              - export_ftp
              - export_ftp_in_progress
              - export_email
              - export_email_in_progress
              - submit_for_approval
              - submit_for_approval_in_progress
              - invoice_approved
              - invoice_approved_in_progress
              - export_handl
              - export_handl_in_progress
              - ready_for_gl_code_validation
              - gl_code_validation_in_progress
              - export_sharepoint
              - export_sharepoint_in_progress
              - pdf_convert_in_progress
              - dummy_process
              - dummy_process_in_progress
              - execute_process
              - execute_process_in_progress
              - fetch_webfile
              - fetch_webfile_in_progress
              - xero_export
              - xero_export_in_progress
              - club_manager_export
              - club_manager_export_in_progress
              - workflowmax_export
              - workflowmax_export_in_progress
              - generic_table_extract
              - generic_table_extract_in_progress
              - archive_image
              - archive_image_in_progress
              - docs_process
              - docs_process_in_progress
              - notes_process
              - notes_process_in_progress
              - media_process
              - media_process_in_progress
              - xero_receivable_export
              - xero_receivable_export_in_progress
              - export_form_email_in_progress
              - export_form_email
              - xero_automatic_export
              - xero_automatic_export_in_progress
              - myob_automatic_export
              - myob_automatic_export_in_progress
              - blob_upload
              - blob_upload_in_progress
              - blob_complete
              - blob_complete_in_progress
              - submit_for_email_approval
              - submit_for_email_approval_in_progress
              - cancel_approval
              - cancel_approval_in_progress
              - submit_for_resend_email_approval
              - submit_for_resend_email_approval_in_progress
              - reject_approval
              - reject_approval_in_progress
              - submit_for_approval_portal
              - submit_for_approval_in_progress_portal
              - invoice_approved_portal
              - invoice_approved_in_progress_portal
              - quickbooks_automatic_export
              - quickbooks_automatic_export_in_progress
              - submit_for_approval_level2
              - submit_for_approval_level2_in_progress
              - invoice_approved_level2
              - invoice_approved_level2_in_progress
              - submit_for_email_approval_level2
              - submit_for_email_approval_level2_in_progress
              - submit_for_resend_email_approval_level2
              - submit_for_resend_email_approval_level2_in_progress
              - validate_export
              - validate_export_in_progress
              - export_acurest
              - export_acurest_in_progress
              - submit_export_bank_upload
              - submit_export_bank_upload_in_progress
              - export_bank_upload
              - export_bank_upload_in_progress
              - submit_export_bank_pending
              - submit_export_bank_pending_in_progress
              - export_bank_pending
              - export_bank_pending_in_progress
              - export_bank_complete
              - export_bank_complete_in_progress
              - statement
              - statement_in_progress
              - plantracker_extraction
              - plantracker_extraction_in_progress
              - pica_extraction
              - pica_extraction_in_progress
              - einvoice_export
              - einvoice_export_in_progress
              - fergus_export
              - fergus_export_in_progress
              - start_app
              - start_app_in_progress
              - finish_app
              - finish_app_in_progress
              - submit_for_approval_camera
              - submit_for_approval_in_progress_camera
              - invoice_approved_camera
              - invoice_approved_in_progress_camera
              - invoice_approved_camera_done
              - airtable_invoice_export
              - airtable_invoice_export_in_progress
              - export_netsuite
              - export_netsuite_in_progress
              - customize_invoice
              - customize_invoice_in_progress
              - ascora_export
              - ascora_export_in_progress
              - review_results
              - review_results_in_progress
              - review_results_approved
              - review_results_approved_in_progress
              - google_drive_export
              - google_drive_export_in_progress
              - simpro_export
              - simpro_export_in_progress
              - email_message
              - email_message_in_progress
              - check_po_received
              - check_po_received_in_progress
              - check_po_exists
              - check_po_exists_in_progress
              - custom_approval_done
              - custom_approval_done_in_progress
              - junk_complete
              - junk_complete_in_progress
              - validate_po
              - validate_po_in_progress
              - statement_init
              - statement_init_in_progress
              - statement_reconciliation
              - statement_reconciliation_in_progress
              - price_check
              - price_check_in_progress
              - price_adjustment_invoice
              - price_adjustment_invoice_in_progress
              - xero_attachment
              - xero_attachment_in_progress
              - submit_for_approval_project_manager
              - submit_for_approval_project_manager_in_progress
              - bill_waiting_payment
              - bill_waiting_payment_in_progress
              - bill_payment_started
              - bill_payment_started_in_progress
              - bill_payed
              - bill_payed_in_progress
              - webhook
              - webhook_in_progress
              - dear_export
              - dear_export_in_progress
              - create_simpro_lead
              - create_simpro_lead_in_progress
              - audit_report
              - audit_report_in_progress
              - scoro_export
              - scoro_export_in_progress
              - invoice_attachment
              - invoice_attachment_in_progress
              - convert_to_sale
              - convert_to_sale_in_progress
              - xero_automatic_export2
              - xero_automatic_export2_in_progress
              - jobs_split_bill
              - jobs_split_bill_in_progress
              - submit_for_approval_level3
              - submit_for_approval_level3_in_progress
              - invoice_approved_level3
              - invoice_approved_level3_in_progress
              - submit_for_email_approval_level3
              - submit_for_email_approval_level3_in_progress
              - submit_for_resend_email_approval_level3
              - submit_for_resend_email_approval_level3_in_progress
              - set_invoice_details
              - set_invoice_details_in_progress
              - create_invoices
              - create_invoices_in_progress
              - tidy_export
              - tidy_export_in_progress
              - invoice_price_check
              - invoice_price_check_in_progress
              - assign_job
              - assign_job_in_progress
              - account_code_split_bill
              - account_code_split_bill_in_progress
              - submit_for_approval_level4
              - submit_for_approval_level4_in_progress
              - invoice_approved_level4
              - invoice_approved_level4_in_progress
              - submit_for_email_approval_level4
              - submit_for_email_approval_level4_in_progress
              - submit_for_resend_email_approval_level4
              - submit_for_resend_email_approval_level4_in_progress
              - delete_document
              - delete_document_in_progress
              - set_supplier_settings
              - set_supplier_settings_in_progress
              - change_part
              - change_part_in_progress
              - process_peppol_invoice
              - process_peppol_invoice_in_progress
              - set_tracking
              - set_tracking_in_progress
              - triumph_export
              - triumph_export_in_progress
              - set_account_code
              - set_account_code_in_progress
              - submit_for_approval_level5
              - submit_for_approval_level5_in_progress
              - invoice_approved_level5
              - invoice_approved_level5_in_progress
              - submit_for_email_approval_level5
              - submit_for_email_approval_level5_in_progress
              - submit_for_resend_email_approval_level5
              - submit_for_resend_email_approval_level5_in_progress
              - change_approver
              - change_approver_in_progress
              - reprocess_app
              - reprocess_app_in_progress
              - status_report
              - status_report_in_progress
              - create_po
              - create_po_in_progress
              - submit_check_before_export
              - submit_check_before_export_in_progress
              - approved_check_before_export
              - approved_check_before_export_in_progress
              - switch_workflow
              - switch_workflow_in_progress
              - check_co_exists
              - check_co_exists_in_progress
              - find_and_combine
              - find_and_combine_in_progress
              - dropbox_export
              - dropbox_export_in_progress
              - batch_invoices
              - batch_invoices_in_progress
              - batch_invoices_complete
              - batch_invoices_complete_in_progress
              - claimsubmittednotification
              - claimsubmittednotification_in_progress
              - claimapprovednotification
              - claimapprovednotification_in_progress
              - match_po
              - match_po_in_progress
              - match_po_done
              - match_po_done_in_progress
              - match_po_approved
              - match_po_approved_in_progress
              - project_manager_approved
              - project_manager_approved_in_progress
              - submit_for_project_manager_email_approval
              - submit_for_project_manager_email_approval_in_progress
              - submit_for_resend_project_manager_email_approval
              - submit_for_resend_project_manager_email_approval_in_progress
              - workguru_export
              - workguru_export_in_progress
              - custom_export
              - custom_export_in_progress
              - waiting_set_claimant
              - one_drive_export
              - one_drive_export_in_progress
              - reclassify_as_invoice
              - reclassify_as_invoice_in_progress
              - submit_for_email_approval_batch
              - submit_for_email_approval_batch_in_progress
              - submit_for_email_approval_level2_batch
              - submit_for_email_approval_level2_batch_in_progress
              - submit_for_email_approval_level3_batch
              - submit_for_email_approval_level3_batch_in_progress
              - submit_for_email_approval_level4_batch
              - submit_for_email_approval_level4_batch_in_progress
              - submit_for_email_approval_level5_batch
              - submit_for_email_approval_level5_batch_in_progress
              - switch_here
              - switch_here_in_progress
              - statement_extract
              - statement_extract_in_progress
              - statement_reconcile
              - statement_reconcile_in_progress
              - workflowmax_refresh
              - workflowmax_refresh_in_progress
              - external_task_fail
              - external_task_fail_in_progress
              - duplicate_check
              - duplicate_check_in_progress
              - web_form
              - web_form_in_progress
              - wait_task
              - wait_task_in_progress
              - submit_for_approval_project_manager2
              - submit_for_approval_project_manager_in_progress2
              - project_manager_approved2
              - project_manager_approved_in_progress2
              - submit_for_project_manager_email_approval2
              - submit_for_project_manager_email_approval_in_progress2
              - submit_for_resend_project_manager_email_approval2
              - submit_for_resend_project_manager_email_approval_in_progress2
              - post_extraction
              - post_extraction_in_progress
              - auto_rotate
              - auto_rotate_in_progress
              - read_address
              - read_address_in_progress
              - servicetitan_export
              - servicetitan_export_in_progress
              - call_ai_debug
              - call_ai_debug_in_progress
              - procore_export
              - procore_export_in_progress
              - aiweb
              - aiweb_in_progress
              - external_task_wait
              - external_task_wait_in_progress
              - external_task_retry
              - external_task_retry_in_progress
              - detect_document_sub_type
              - detect_document_sub_type_in_progress
              - update_quote_price
              - update_quote_price_in_progress
              - check_statement_notify_supplier
              - check_statement_notify_supplier_in_progress
              - uploaded_batch
              - batch_conversion_in_progress
              - batch_conversion_failed
              - batch_conversion_success
              - orphaned_invoice
              - sandbox_invoice
        - name: workflowid
          in: query
          required: true
          schema:
            type: integer
        - name: settings
          in: query
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PictureFileSS'
          text/json:
            schema:
              $ref: '#/components/schemas/PictureFileSS'
          application/*+json:
            schema:
              $ref: '#/components/schemas/PictureFileSS'
      responses:
        '200':
          description: Success
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/UpdateStatusSS'
            application/json:
              schema:
                $ref: '#/components/schemas/UpdateStatusSS'
            text/json:
              schema:
                $ref: '#/components/schemas/UpdateStatusSS'
        '400':
          description: Bad Request
        '500':
          description: Internal Server Error

  /addWorkTask:
    get:
      summary: "addWorkTask"
      operationId: "addWorkTask"
      tags:
        - EzzyRest
      security:
        - BearerAuth: []
      parameters:
        - name: task
          in: query
          required: true
          schema:
            type: integer
            enum:
              - 0
              - 1
              - 2
              - 3
              - 4
              - 5
              - 6
              - 7
              - 8
              - 9
              - 10
              - 11
              - 12
              - 13
              - 14
              - 20
              - 21
              - 22
              - 23
              - 24
              - 25
              - 26
              - 27
              - 28
              - 29
              - 30
              - 31
              - 32
              - 33
              - 34
              - 35
              - 36
              - 37
              - 38
              - 39
              - 40
              - 41
              - 42
              - 43
              - 44
              - 45
              - 46
              - 47
              - 48
              - 49
              - 50
              - 51
              - 52
              - 53
              - 54
              - 55
              - 56
              - 57
              - 58
              - 59
              - 60
              - 61
              - 62
              - 63
              - 64
              - 65
              - 66
              - 67
              - 68
              - 69
              - 70
              - 71
              - 72
              - 73
              - 74
              - 75
              - 76
              - 77
              - 78
              - 79
              - 80
              - 81
              - 82
              - 83
              - 84
              - 85
              - 86
              - 87
              - 88
              - 89
              - 90
              - 91
              - 92
              - 93
              - 94
              - 95
            x-enumNames:
              - none
              - add_email_alias
              - ftp_nak_stock
              - read_orginization
              - user_report
              - my_report
              - waiting_approval_report
              - create_xero_workflow
              - create_myob_workflow
              - create_quickbooks_workflow
              - create_ftp_workflow
              - email_purchase_history
              - create_custom_workflow
              - create_acumen_workflow
              - create_ezzyx_workflow
              - create_plantracker_workflow
              - create_pica_workflow
              - create_einvoice_workflow
              - create_fergus_workflow
              - create_airtable_myob_workflow
              - create_netsuite_workflow
              - create_ascora_workflow
              - create_simpro_workflow
              - email_mobile_howto
              - create_stmt_reconciliation_workflow
              - create_price_check_workflow
              - create_myob_intray_workflow
              - create_project_manager_approval_workflow
              - create_tidy_stock_workflow
              - create_myob_pocheck_workflow
              - create_dear_workflow
              - create_simpro_enquiry_workflow
              - create_scoro_workflow
              - create_qbo_po_check_workflow
              - create_xero_po_check_workflow
              - create_scoro_non_po_workflow
              - create_xero_bluechain_workflow
              - read_my_orginization
              - invite_customer_to_order_portal
              - create_tidy_pocheck_workflow
              - pricecheck_report
              - create_simpro_job_cost_workflow
              - add_to_peppol_network
              - create_save_and_search_workflow
              - create_order_to_invoice_workflow
              - create_order_to_qbo_workflow
              - create_order_to_xero_workflow
              - create_order_to_myob_workflow
              - create_send_einvoice_workflow
              - email_latest_purchase_invoice
              - create_status_report_workflow
              - xero_subscription_created
              - xero_subscription_changed
              - create_xero_signon_workflow
              - create_simpro_contractor_job_workflow
              - disconect_expired_xero_appstore_users
              - create_simpro_delivery_workflow
              - create_simpro_deliveryreceipt_workflow
              - create_xero_batched_workflow
              - whitelist_email
              - create_xero_po_match_and_review_workflow
              - create_custom_po_match_workflow
              - create_contractor_project_manager_approval_workflow
              - create_new_worktask
              - create_workflowmax_workflow
              - create_new_workform
              - retry_wait_queue
              - create_new_app
              - update_app
              - update_form
              - update_task
              - create_new_extracttask
              - update_extracttask
              - create_workguru_workflow
              - create_styck_workflow
              - create_procore_po_workflow
              - create_procore_direct_cost_workflow
              - create_new_webtask
              - update_webtask
              - create_workguru_po_match_workflow
              - create_servicetitan_workflow
              - create_procore_contractor_workflow
              - create_procore_project_manager_approval_workflow
              - create_procore_contractor_project_manager_approval_workflow
              - create_servicetitan_job_cost_workflow
              - restore_global_solution
              - create_company_profile
              - duplicate_task
              - duplicate_ai_task_from_solution
              - cleanup_deleted_tasks
              - solution_documentation
      responses:
        '200':
          description: Success
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/Servicestatus'
            application/json:
              schema:
                $ref: '#/components/schemas/Servicestatus'
            text/json:
              schema:
                $ref: '#/components/schemas/Servicestatus'
        '400':
          description: Bad Request
        '500':
          description: Internal Server Error

  /addWorkTaskDetails2:
    get:
      summary: "addWorkTaskDetails2"
      operationId: "addWorkTaskDetails2"
      tags:
        - EzzyRest
      security:
        - BearerAuth: []
      parameters:
        - name: task
          in: query
          required: true
          schema:
            type: integer
            enum:
              - 0
              - 1
              - 2
              - 3
              - 4
              - 5
              - 6
              - 7
              - 8
              - 9
              - 10
              - 11
              - 12
              - 13
              - 14
              - 20
              - 21
              - 22
              - 23
              - 24
              - 25
              - 26
              - 27
              - 28
              - 29
              - 30
              - 31
              - 32
              - 33
              - 34
              - 35
              - 36
              - 37
              - 38
              - 39
              - 40
              - 41
              - 42
              - 43
              - 44
              - 45
              - 46
              - 47
              - 48
              - 49
              - 50
              - 51
              - 52
              - 53
              - 54
              - 55
              - 56
              - 57
              - 58
              - 59
              - 60
              - 61
              - 62
              - 63
              - 64
              - 65
              - 66
              - 67
              - 68
              - 69
              - 70
              - 71
              - 72
              - 73
              - 74
              - 75
              - 76
              - 77
              - 78
              - 79
              - 80
              - 81
              - 82
              - 83
              - 84
              - 85
              - 86
              - 87
              - 88
              - 89
              - 90
              - 91
              - 92
              - 93
              - 94
              - 95
            x-enumNames:
              - none
              - add_email_alias
              - ftp_nak_stock
              - read_orginization
              - user_report
              - my_report
              - waiting_approval_report
              - create_xero_workflow
              - create_myob_workflow
              - create_quickbooks_workflow
              - create_ftp_workflow
              - email_purchase_history
              - create_custom_workflow
              - create_acumen_workflow
              - create_ezzyx_workflow
              - create_plantracker_workflow
              - create_pica_workflow
              - create_einvoice_workflow
              - create_fergus_workflow
              - create_airtable_myob_workflow
              - create_netsuite_workflow
              - create_ascora_workflow
              - create_simpro_workflow
              - email_mobile_howto
              - create_stmt_reconciliation_workflow
              - create_price_check_workflow
              - create_myob_intray_workflow
              - create_project_manager_approval_workflow
              - create_tidy_stock_workflow
              - create_myob_pocheck_workflow
              - create_dear_workflow
              - create_simpro_enquiry_workflow
              - create_scoro_workflow
              - create_qbo_po_check_workflow
              - create_xero_po_check_workflow
              - create_scoro_non_po_workflow
              - create_xero_bluechain_workflow
              - read_my_orginization
              - invite_customer_to_order_portal
              - create_tidy_pocheck_workflow
              - pricecheck_report
              - create_simpro_job_cost_workflow
              - add_to_peppol_network
              - create_save_and_search_workflow
              - create_order_to_invoice_workflow
              - create_order_to_qbo_workflow
              - create_order_to_xero_workflow
              - create_order_to_myob_workflow
              - create_send_einvoice_workflow
              - email_latest_purchase_invoice
              - create_status_report_workflow
              - xero_subscription_created
              - xero_subscription_changed
              - create_xero_signon_workflow
              - create_simpro_contractor_job_workflow
              - disconect_expired_xero_appstore_users
              - create_simpro_delivery_workflow
              - create_simpro_deliveryreceipt_workflow
              - create_xero_batched_workflow
              - whitelist_email
              - create_xero_po_match_and_review_workflow
              - create_custom_po_match_workflow
              - create_contractor_project_manager_approval_workflow
              - create_new_worktask
              - create_workflowmax_workflow
              - create_new_workform
              - retry_wait_queue
              - create_new_app
              - update_app
              - update_form
              - update_task
              - create_new_extracttask
              - update_extracttask
              - create_workguru_workflow
              - create_styck_workflow
              - create_procore_po_workflow
              - create_procore_direct_cost_workflow
              - create_new_webtask
              - update_webtask
              - create_workguru_po_match_workflow
              - create_servicetitan_workflow
              - create_procore_contractor_workflow
              - create_procore_project_manager_approval_workflow
              - create_procore_contractor_project_manager_approval_workflow
              - create_servicetitan_job_cost_workflow
              - restore_global_solution
              - create_company_profile
              - duplicate_task
              - duplicate_ai_task_from_solution
              - cleanup_deleted_tasks
              - solution_documentation
      responses:
        '200':
          description: Success
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/Servicestatus'
            application/json:
              schema:
                $ref: '#/components/schemas/Servicestatus'
            text/json:
              schema:
                $ref: '#/components/schemas/Servicestatus'
        '400':
          description: Bad Request
        '500':
          description: Internal Server Error

  /allMyExternalTasks:
    get:
      summary: "allMyExternalTasks"
      operationId: "allMyExternalTasks"
      tags:
        - EzzyRest
      security:
        - BearerAuth: []
      responses:
        '200':
          description: Success
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/ExternalQueueStateSS'
            application/json:
              schema:
                $ref: '#/components/schemas/ExternalQueueStateSS'
            text/json:
              schema:
                $ref: '#/components/schemas/ExternalQueueStateSS'
        '400':
          description: Bad Request
        '500':
          description: Internal Server Error

  /allMyWorkflows:
    get:
      summary: "allMyWorkflows"
      operationId: "allMyWorkflows"
      tags:
        - EzzyRest
      security:
        - BearerAuth: []
      responses:
        '200':
          description: Success
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/MyWorkflowsSS'
            application/json:
              schema:
                $ref: '#/components/schemas/MyWorkflowsSS'
            text/json:
              schema:
                $ref: '#/components/schemas/MyWorkflowsSS'
        '400':
          description: Bad Request
        '500':
          description: Internal Server Error

  /allQueueStates:
    get:
      summary: "allQueueStates"
      operationId: "allQueueStates"
      tags:
        - EzzyRest
      security:
        - BearerAuth: []
      responses:
        '200':
          description: Success
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/QueueStatesSS'
            application/json:
              schema:
                $ref: '#/components/schemas/QueueStatesSS'
            text/json:
              schema:
                $ref: '#/components/schemas/QueueStatesSS'
        '400':
          description: Bad Request
        '500':
          description: Internal Server Error

  /appendPurchaseOrders:
    post:
      summary: "appendPurchaseOrders"
      operationId: "appendPurchaseOrders"
      tags:
        - EzzyRest
      security:
        - BearerAuth: []
      parameters:
        - name: target
          in: query
          required: true
          schema:
            type: integer
            enum:
              - 0
              - 1
              - 2
              - 3
              - 4
              - 5
              - 6
              - 7
              - 8
              - 9
              - 10
              - 11
              - 12
              - 20
              - 21
              - 22
              - 23
              - 24
              - 26
              - 27
              - 33
              - 34
              - 35
              - 36
              - 37
              - 38
              - 39
              - 40
              - 41
              - 42
              - 43
              - 44
              - 45
              - 46
              - 47
              - 48
              - 49
              - 4001
              - -1
            x-enumNames:
              - HANDL
              - XERO
              - MYOB
              - SAASU
              - FTP
              - EMAIL
              - GATEWAY
              - NETSUITE
              - PALACE
              - QUICKBOOKS
              - CUSTOM_WORKFLOW
              - ACUREST
              - EZZYX
              - PLANTRACKER
              - PICA
              - EINVOICE
              - FERGUS
              - AIRTABLE_MYOB
              - ASCORA
              - SIMPRO
              - TIDYSTOCK
              - DEAR
              - SCORO
              - SAVE_AND_SEARCH
              - TRIUMPH
              - WORKGURU
              - WORKFLOWMAXBLUEROCK
              - GOOGLE_DRIVE
              - GMAIL
              - AIRTABLE
              - ONEDRIVE
              - O365
              - DROPBOX
              - STYCK
              - SERVICETITAN
              - PROCORE
              - SHAREPOINT
              - STORAGE_DEVICE
              - UNKNOWN
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/PODetails'
          text/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/PODetails'
          application/*+json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/PODetails'
      responses:
        '200':
          description: Success
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/Servicestatus'
            application/json:
              schema:
                $ref: '#/components/schemas/Servicestatus'
            text/json:
              schema:
                $ref: '#/components/schemas/Servicestatus'
        '400':
          description: Bad Request
        '500':
          description: Internal Server Error

  /approve2:
    get:
      summary: "approve2"
      operationId: "approve2"
      tags:
        - EzzyRest
      security:
        - BearerAuth: []
      parameters:
        - name: invoiceid
          in: query
          required: true
          schema:
            type: integer
        - name: supplier
          in: query
          required: true
          schema:
            type: string
        - name: total
          in: query
          required: true
          schema:
            type: number
        - name: tax
          in: query
          required: true
          schema:
            type: number
        - name: number
          in: query
          required: true
          schema:
            type: string
        - name: charge
          in: query
          required: true
          schema:
            type: number
      responses:
        '200':
          description: Success
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/Servicestatus'
            application/json:
              schema:
                $ref: '#/components/schemas/Servicestatus'
            text/json:
              schema:
                $ref: '#/components/schemas/Servicestatus'
        '400':
          description: Bad Request
        '500':
          description: Internal Server Error

  /approve3:
    get:
      summary: "approve3"
      operationId: "approve3"
      tags:
        - EzzyRest
      security:
        - BearerAuth: []
      parameters:
        - name: invoiceid
          in: query
          required: true
          schema:
            type: integer
        - name: supplier
          in: query
          required: true
          schema:
            type: string
        - name: total
          in: query
          required: true
          schema:
            type: number
        - name: tax
          in: query
          required: true
          schema:
            type: number
        - name: number
          in: query
          required: true
          schema:
            type: string
        - name: charge
          in: query
          required: true
          schema:
            type: number
        - name: ponumber
          in: query
          required: true
          schema:
            type: string
        - name: glcode
          in: query
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Success
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/Servicestatus'
            application/json:
              schema:
                $ref: '#/components/schemas/Servicestatus'
            text/json:
              schema:
                $ref: '#/components/schemas/Servicestatus'
        '400':
          description: Bad Request
        '500':
          description: Internal Server Error

  /approve4:
    get:
      summary: "approve4"
      operationId: "approve4"
      tags:
        - EzzyRest
      security:
        - BearerAuth: []
      parameters:
        - name: invoiceid
          in: query
          required: true
          schema:
            type: integer
        - name: supplier
          in: query
          required: true
          schema:
            type: string
        - name: total
          in: query
          required: true
          schema:
            type: number
        - name: tax
          in: query
          required: true
          schema:
            type: number
        - name: number
          in: query
          required: true
          schema:
            type: string
        - name: charge
          in: query
          required: true
          schema:
            type: number
        - name: ponumber
          in: query
          required: true
          schema:
            type: string
        - name: glcode
          in: query
          required: true
          schema:
            type: string
        - name: invoicedate
          in: query
          required: true
          schema:
            type: string
        - name: note
          in: query
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Success
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/Servicestatus'
            application/json:
              schema:
                $ref: '#/components/schemas/Servicestatus'
            text/json:
              schema:
                $ref: '#/components/schemas/Servicestatus'
        '400':
          description: Bad Request
        '500':
          description: Internal Server Error

  /approve5:
    get:
      summary: "approve5"
      operationId: "approve5"
      tags:
        - EzzyRest
      security:
        - BearerAuth: []
      parameters:
        - name: invoiceid
          in: query
          required: true
          schema:
            type: integer
        - name: supplier
          in: query
          required: true
          schema:
            type: string
        - name: total
          in: query
          required: true
          schema:
            type: number
        - name: tax
          in: query
          required: true
          schema:
            type: number
        - name: number
          in: query
          required: true
          schema:
            type: string
        - name: charge
          in: query
          required: true
          schema:
            type: number
        - name: ponumber
          in: query
          required: true
          schema:
            type: string
        - name: glcode
          in: query
          required: true
          schema:
            type: string
        - name: invoicedate
          in: query
          required: true
          schema:
            type: string
        - name: note
          in: query
          required: true
          schema:
            type: string
        - name: tracking
          in: query
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Success
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/Servicestatus'
            application/json:
              schema:
                $ref: '#/components/schemas/Servicestatus'
            text/json:
              schema:
                $ref: '#/components/schemas/Servicestatus'
        '400':
          description: Bad Request
        '500':
          description: Internal Server Error

  /approve6:
    post:
      summary: "approve6"
      operationId: "approve6"
      tags:
        - EzzyRest
      security:
        - BearerAuth: []
      parameters:
        - name: invoiceid
          in: query
          required: true
          schema:
            type: integer
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ApprovalForm'
          text/json:
            schema:
              $ref: '#/components/schemas/ApprovalForm'
          application/*+json:
            schema:
              $ref: '#/components/schemas/ApprovalForm'
      responses:
        '200':
          description: Success
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/Servicestatus'
            application/json:
              schema:
                $ref: '#/components/schemas/Servicestatus'
            text/json:
              schema:
                $ref: '#/components/schemas/Servicestatus'
        '400':
          description: Bad Request
        '500':
          description: Internal Server Error

  /approve:
    get:
      summary: "approve"
      operationId: "approve"
      tags:
        - EzzyRest
      security:
        - BearerAuth: []
      parameters:
        - name: invoiceid
          in: query
          required: true
          schema:
            type: integer
        - name: supplier
          in: query
          required: true
          schema:
            type: string
        - name: total
          in: query
          required: true
          schema:
            type: number
        - name: tax
          in: query
          required: true
          schema:
            type: number
        - name: number
          in: query
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Success
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/Servicestatus'
            application/json:
              schema:
                $ref: '#/components/schemas/Servicestatus'
            text/json:
              schema:
                $ref: '#/components/schemas/Servicestatus'
        '400':
          description: Bad Request
        '500':
          description: Internal Server Error

  /approveBatch:
    post:
      summary: "approveBatch"
      operationId: "approveBatch"
      tags:
        - EzzyRest
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/InvoiceBatch'
          text/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/InvoiceBatch'
          application/*+json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/InvoiceBatch'
      responses:
        '200':
          description: Success
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/Servicestatus'
            application/json:
              schema:
                $ref: '#/components/schemas/Servicestatus'
            text/json:
              schema:
                $ref: '#/components/schemas/Servicestatus'
        '400':
          description: Bad Request
        '500':
          description: Internal Server Error

  /approveExport:
    get:
      summary: "approveExport"
      operationId: "approveExport"
      tags:
        - EzzyRest
      security:
        - BearerAuth: []
      parameters:
        - name: invoicelist
          in: query
          required: true
          schema:
            type: string
        - name: note
          in: query
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Success
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/Servicestatus'
            application/json:
              schema:
                $ref: '#/components/schemas/Servicestatus'
            text/json:
              schema:
                $ref: '#/components/schemas/Servicestatus'
        '400':
          description: Bad Request
        '500':
          description: Internal Server Error

  /approveInvoice:
    get:
      summary: "approveInvoice"
      operationId: "approveInvoice"
      tags:
        - EzzyRest
      security:
        - BearerAuth: []
      parameters:
        - name: invoicelist
          in: query
          required: true
          schema:
            type: string
        - name: note
          in: query
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Success
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/Servicestatus'
            application/json:
              schema:
                $ref: '#/components/schemas/Servicestatus'
            text/json:
              schema:
                $ref: '#/components/schemas/Servicestatus'
        '400':
          description: Bad Request
        '500':
          description: Internal Server Error

  /automateWorkflow:
    post:
      summary: "automateWorkflow"
      operationId: "automateWorkflow"
      tags:
        - EzzyRest
      security:
        - BearerAuth: []
      parameters:
        - name: workflowid
          in: query
          required: true
          schema:
            type: integer
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WorkflowAutomateSetting'
          text/json:
            schema:
              $ref: '#/components/schemas/WorkflowAutomateSetting'
          application/*+json:
            schema:
              $ref: '#/components/schemas/WorkflowAutomateSetting'
      responses:
        '200':
          description: Success
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/Servicestatus'
            application/json:
              schema:
                $ref: '#/components/schemas/Servicestatus'
            text/json:
              schema:
                $ref: '#/components/schemas/Servicestatus'
        '400':
          description: Bad Request
        '500':
          description: Internal Server Error

  /cancelApproveInvoice:
    get:
      summary: "cancelApproveInvoice"
      operationId: "cancelApproveInvoice"
      tags:
        - EzzyRest
      security:
        - BearerAuth: []
      parameters:
        - name: invoicelist
          in: query
          required: true
          schema:
            type: string
        - name: note
          in: query
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Success
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/Servicestatus'
            application/json:
              schema:
                $ref: '#/components/schemas/Servicestatus'
            text/json:
              schema:
                $ref: '#/components/schemas/Servicestatus'
        '400':
          description: Bad Request
        '500':
          description: Internal Server Error

  /cancelPlanChange:
    get:
      summary: "cancelPlanChange"
      operationId: "cancelPlanChange"
      tags:
        - EzzyRest
      security:
        - BearerAuth: []
      responses:
        '200':
          description: Success
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/Servicestatus'
            application/json:
              schema:
                $ref: '#/components/schemas/Servicestatus'
            text/json:
              schema:
                $ref: '#/components/schemas/Servicestatus'
        '400':
          description: Bad Request
        '500':
          description: Internal Server Error

  /cancelSubscription:
    get:
      summary: "cancelSubscription"
      operationId: "cancelSubscription"
      tags:
        - EzzyRest
      security:
        - BearerAuth: []
      parameters:
        - name: type
          in: query
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: Success
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/Servicestatus'
            application/json:
              schema:
                $ref: '#/components/schemas/Servicestatus'
            text/json:
              schema:
                $ref: '#/components/schemas/Servicestatus'
        '400':
          description: Bad Request
        '500':
          description: Internal Server Error

  /changeAppStatus:
    get:
      summary: "changeAppStatus"
      operationId: "changeAppStatus"
      tags:
        - EzzyRest
      security:
        - BearerAuth: []
      parameters:
        - name: applicationId
          in: query
          required: true
          schema:
            type: string
        - name: isActive
          in: query
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: Success
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/Servicestatus'
            application/json:
              schema:
                $ref: '#/components/schemas/Servicestatus'
            text/json:
              schema:
                $ref: '#/components/schemas/Servicestatus'
        '400':
          description: Bad Request
        '500':
          description: Internal Server Error

  /changeEmailSubscription:
    get:
      summary: "changeEmailSubscription"
      operationId: "changeEmailSubscription"
      tags:
        - EzzyRest
      security:
        - BearerAuth: []
      parameters:
        - name: emailTo
          in: query
          required: true
          schema:
            type: string
        - name: unsubscribe
          in: query
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: Success
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/Servicestatus'
            application/json:
              schema:
                $ref: '#/components/schemas/Servicestatus'
            text/json:
              schema:
                $ref: '#/components/schemas/Servicestatus'
        '400':
          description: Bad Request
        '500':
          description: Internal Server Error

  /changeInvoiceApprover:
    get:
      summary: "changeInvoiceApprover"
      operationId: "changeInvoiceApprover"
      tags:
        - EzzyRest
      security:
        - BearerAuth: []
      parameters:
        - name: invoiceid
          in: query
          required: true
          schema:
            type: integer
        - name: emailto
          in: query
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Success
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/Servicestatus'
            application/json:
              schema:
                $ref: '#/components/schemas/Servicestatus'
            text/json:
              schema:
                $ref: '#/components/schemas/Servicestatus'
        '400':
          description: Bad Request
        '500':
          description: Internal Server Error

  /changeOpenState:
    get:
      summary: "changeOpenState"
      operationId: "changeOpenState"
      tags:
        - EzzyRest
      security:
        - BearerAuth: []
      parameters:
        - name: invoiceid
          in: query
          required: true
          schema:
            type: integer
        - name: state
          in: query
          required: true
          schema:
            type: integer
            enum:
              - 0
              - 1
              - 2
            x-enumNames:
              - OPEN
              - CLOSED
              - IN_PROGRESS
      responses:
        '200':
          description: Success
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/Servicestatus'
            application/json:
              schema:
                $ref: '#/components/schemas/Servicestatus'
            text/json:
              schema:
                $ref: '#/components/schemas/Servicestatus'
        '400':
          description: Bad Request
        '500':
          description: Internal Server Error

  /changePlan:
    get:
      summary: "changePlan"
      operationId: "changePlan"
      tags:
        - EzzyRest
      security:
        - BearerAuth: []
      parameters:
        - name: plan
          in: query
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Success
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/Servicestatus'
            application/json:
              schema:
                $ref: '#/components/schemas/Servicestatus'
            text/json:
              schema:
                $ref: '#/components/schemas/Servicestatus'
        '400':
          description: Bad Request
        '500':
          description: Internal Server Error

  /checkConnection:
    get:
      summary: "checkConnection"
      operationId: "checkConnection"
      tags:
        - EzzyRest
      security:
        - BearerAuth: []
      parameters:
        - name: target
          in: query
          required: true
          schema:
            type: integer
            enum:
              - 0
              - 1
              - 2
              - 3
              - 4
              - 5
              - 6
              - 7
              - 8
              - 9
              - 10
              - 11
              - 12
              - 20
              - 21
              - 22
              - 23
              - 24
              - 26
              - 27
              - 33
              - 34
              - 35
              - 36
              - 37
              - 38
              - 39
              - 40
              - 41
              - 42
              - 43
              - 44
              - 45
              - 46
              - 47
              - 48
              - 49
              - 4001
              - -1
            x-enumNames:
              - HANDL
              - XERO
              - MYOB
              - SAASU
              - FTP
              - EMAIL
              - GATEWAY
              - NETSUITE
              - PALACE
              - QUICKBOOKS
              - CUSTOM_WORKFLOW
              - ACUREST
              - EZZYX
              - PLANTRACKER
              - PICA
              - EINVOICE
              - FERGUS
              - AIRTABLE_MYOB
              - ASCORA
              - SIMPRO
              - TIDYSTOCK
              - DEAR
              - SCORO
              - SAVE_AND_SEARCH
              - TRIUMPH
              - WORKGURU
              - WORKFLOWMAXBLUEROCK
              - GOOGLE_DRIVE
              - GMAIL
              - AIRTABLE
              - ONEDRIVE
              - O365
              - DROPBOX
              - STYCK
              - SERVICETITAN
              - PROCORE
              - SHAREPOINT
              - STORAGE_DEVICE
              - UNKNOWN
      responses:
        '200':
          description: Success
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/Servicestatus'
            application/json:
              schema:
                $ref: '#/components/schemas/Servicestatus'
            text/json:
              schema:
                $ref: '#/components/schemas/Servicestatus'
        '400':
          description: Bad Request
        '500':
          description: Internal Server Error

  /checkConnectionFull:
    get:
      summary: "checkConnectionFull"
      operationId: "checkConnectionFull"
      tags:
        - EzzyRest
      security:
        - BearerAuth: []
      parameters:
        - name: target
          in: query
          required: true
          schema:
            type: integer
            enum:
              - 0
              - 1
              - 2
              - 3
              - 4
              - 5
              - 6
              - 7
              - 8
              - 9
              - 10
              - 11
              - 12
              - 20
              - 21
              - 22
              - 23
              - 24
              - 26
              - 27
              - 33
              - 34
              - 35
              - 36
              - 37
              - 38
              - 39
              - 40
              - 41
              - 42
              - 43
              - 44
              - 45
              - 46
              - 47
              - 48
              - 49
              - 4001
              - -1
            x-enumNames:
              - HANDL
              - XERO
              - MYOB
              - SAASU
              - FTP
              - EMAIL
              - GATEWAY
              - NETSUITE
              - PALACE
              - QUICKBOOKS
              - CUSTOM_WORKFLOW
              - ACUREST
              - EZZYX
              - PLANTRACKER
              - PICA
              - EINVOICE
              - FERGUS
              - AIRTABLE_MYOB
              - ASCORA
              - SIMPRO
              - TIDYSTOCK
              - DEAR
              - SCORO
              - SAVE_AND_SEARCH
              - TRIUMPH
              - WORKGURU
              - WORKFLOWMAXBLUEROCK
              - GOOGLE_DRIVE
              - GMAIL
              - AIRTABLE
              - ONEDRIVE
              - O365
              - DROPBOX
              - STYCK
              - SERVICETITAN
              - PROCORE
              - SHAREPOINT
              - STORAGE_DEVICE
              - UNKNOWN
      responses:
        '200':
          description: Success
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/Servicestatus'
            application/json:
              schema:
                $ref: '#/components/schemas/Servicestatus'
            text/json:
              schema:
                $ref: '#/components/schemas/Servicestatus'
        '400':
          description: Bad Request
        '500':
          description: Internal Server Error

  /checkLicense:
    get:
      summary: "checkLicense"
      operationId: "checkLicense"
      tags:
        - EzzyRest
      security:
        - BearerAuth: []
      parameters:
        - name: name
          in: query
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Success
          content:
            text/plain:
              schema:
                type: string
            application/json:
              schema:
                type: string
            text/json:
              schema:
                type: string
        '400':
          description: Bad Request
        '500':
          description: Internal Server Error

  /connectedApps:
    get:
      summary: "connectedApps"
      operationId: "connectedApps"
      tags:
        - EzzyRest
      security:
        - BearerAuth: []
      responses:
        '200':
          description: Success
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/ConnectedAppsSS'
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectedAppsSS'
            text/json:
              schema:
                $ref: '#/components/schemas/ConnectedAppsSS'
        '400':
          description: Bad Request
        '500':
          description: Internal Server Error

  /copyWorkflow:
    get:
      summary: "copyWorkflow"
      operationId: "copyWorkflow"
      tags:
        - EzzyRest
      security:
        - BearerAuth: []
      parameters:
        - name: workflowid
          in: query
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: Success
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/Workflowstatus'
            application/json:
              schema:
                $ref: '#/components/schemas/Workflowstatus'
            text/json:
              schema:
                $ref: '#/components/schemas/Workflowstatus'
        '400':
          description: Bad Request
        '500':
          description: Internal Server Error

  /createAiApp:
    get:
      summary: "createAiApp"
      operationId: "createAiApp"
      tags:
        - EzzyRest
      security:
        - BearerAuth: []
      parameters:
        - name: name
          in: query
          required: true
          schema:
            type: string
        - name: chat
          in: query
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Success
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/AITaskSS'
            application/json:
              schema:
                $ref: '#/components/schemas/AITaskSS'
            text/json:
              schema:
                $ref: '#/components/schemas/AITaskSS'
        '400':
          description: Bad Request
        '500':
          description: Internal Server Error

  /createAiApprovalEmailTemplate:
    post:
      summary: "createAiApprovalEmailTemplate"
      operationId: "createAiApprovalEmailTemplate"
      tags:
        - EzzyRest
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AITemplateRequest'
          text/json:
            schema:
              $ref: '#/components/schemas/AITemplateRequest'
          application/*+json:
            schema:
              $ref: '#/components/schemas/AITemplateRequest'
      responses:
        '200':
          description: Success
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/AITemplateSS'
            application/json:
              schema:
                $ref: '#/components/schemas/AITemplateSS'
            text/json:
              schema:
                $ref: '#/components/schemas/AITemplateSS'
        '400':
          description: Bad Request
        '500':
          description: Internal Server Error

  /createAiAppWrapper:
    get:
      summary: "createAiAppWrapper"
      operationId: "createAiAppWrapper"
      tags:
        - EzzyRest
      security:
        - BearerAuth: []
      parameters:
        - name: name
          in: query
          required: true
          schema:
            type: string
        - name: chat
          in: query
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Success
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/AITaskSS'
            application/json:
              schema:
                $ref: '#/components/schemas/AITaskSS'
            text/json:
              schema:
                $ref: '#/components/schemas/AITaskSS'
        '400':
          description: Bad Request
        '500':
          description: Internal Server Error

  /createAiExtractTask:
    get:
      summary: "createAiExtractTask"
      operationId: "createAiExtractTask"
      tags:
        - EzzyRest
      security:
        - BearerAuth: []
      parameters:
        - name: name
          in: query
          required: true
          schema:
            type: string
        - name: invoiceid
          in: query
          required: true
          schema:
            type: integer
        - name: chat
          in: query
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Success
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/AITaskSS'
            application/json:
              schema:
                $ref: '#/components/schemas/AITaskSS'
            text/json:
              schema:
                $ref: '#/components/schemas/AITaskSS'
        '400':
          description: Bad Request
        '500':
          description: Internal Server Error

  /createAiForm:
    get:
      summary: "createAiForm"
      operationId: "createAiForm"
      tags:
        - EzzyRest
      security:
        - BearerAuth: []
      parameters:
        - name: name
          in: query
          required: true
          schema:
            type: string
        - name: chat
          in: query
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Success
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/AITaskSS'
            application/json:
              schema:
                $ref: '#/components/schemas/AITaskSS'
            text/json:
              schema:
                $ref: '#/components/schemas/AITaskSS'
        '400':
          description: Bad Request
        '500':
          description: Internal Server Error

  /createAIPrompts:
    post:
      summary: "createAIPrompts"
      operationId: "createAIPrompts"
      tags:
        - EzzyRest
      security:
        - BearerAuth: []
      parameters:
        - name: prompt
          in: query
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Success
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/AICreatedSS'
            application/json:
              schema:
                $ref: '#/components/schemas/AICreatedSS'
            text/json:
              schema:
                $ref: '#/components/schemas/AICreatedSS'
        '400':
          description: Bad Request
        '500':
          description: Internal Server Error

  /createAiTask:
    get:
      summary: "createAiTask"
      operationId: "createAiTask"
      tags:
[...]
